/* Google font link  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

/* caresole item css start  */

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.6;
}

.carousel-caption {
    position: absolute;
    left: 0;
    transform: translate(-50, -50);
}

.custom-btn-bg {
    background-color: #289bde;

}

.price-text-color {
    color: #289bde;
    line-height: 0;
}

/* learning-bg-color style */

.learning-bg-color {
    background-color: #f4fafd;

}

/* ready-bg-color style */
.ready-bg-color {
    background-color: #289bde;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

/* footer section  */

footer ul li {
    list-style-type: none;
    margin-right: 20px;
    background-color: #242424;
    padding: 8px 12px;
    cursor: pointer;

}


/* media section  */

@media (max-width: 576px) {
    .carousel.slide h1 {
        font-size: 18px;
    }

    .carousel.slide p {
        font-size: 14px;
        padding: 0 40px;
    }
}